<nav class="navbar">
 <div class="container">
   <div class="ui-g">
     <div class="ui-g12">
      <a href="javascript:;" class="navbar-toggle" (click)="exibirMenu = !exibirMenu"><i class="pi pi-bars"></i></a>
     </div>
   </div>
 </div> 

 <ul class="navbar-menu" [hidden]="!exibirMenu">
  <li class="empresa">AZS Logística</li>
  <li class="navbar-menuitem"><a href="javascript:;">Pessoas</a></li>
  <li class="navbar-menuitem"><a href="javascript:;">Veículos</a></li>
  <li class="navbar-menuitem"><a href="javascript:;">Viagens</a></li>
 </ul>
 
</nav>